* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


#app {
    height: 100vh;
    text-align: center;
}
